fastapi==0.116.1
uvicorn[standard]==0.35.0
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.72
langchain-redis==0.2.3
redis==5.3.0
redisvl==0.8.0
sqlalchemy==2.0.41
pymysql==1.1.0
numpy==1.26.4
openai==1.93.0
pydantic==2.11.7
python-ulid==3.0.0
dashscope==1.23.8
langchain-deepseek==0.1.3